.slider {
  width: 100;
  height: 100vh;
  padding: 10rem 0rem;
  background-color: cornflowerblue;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 10rem 0rem;
  background-position: ;
}
