.anime {
  transition: transform 0.5s ease-in-out;
}

.zoom-on-hover:hover {
  transform: scale(1.08);
}

ul li {
  font-size: 3rem;
}

.container {
  background-color: crimson;
  padding-top: 0.6rem;
}
